/* calendar.css */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
}

.custom-calendar {
    padding: 0rem;
}

.react-calendar__navigation {
    margin-bottom: 6px;
    color: black;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button {
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.react-calendar__tile {
    font-size: 0.7rem;
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.react-calendar__tile:hover {
    background-color: #4299e1;
    color: white;
}

.react-calendar__tile--active {
    background-color: #4299e1;
    color: white;
    border-radius: 50%;
}

.react-calendar__month-view__weekdays {
    font-size: 0.65rem;
}